

body {
	height: 100vhs;
	background-image: url('https://images.unsplash.com/photo-1612107463480-ed64144265b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');

}

.mainBody {
	display: flex;
	flex-flow: row nowrap;
	gap: 2%;
	margin: 10%;
}

* {
	margin: 0px;
	padding: 0px;
}
body {
	height: 100vhs;
	background-image: url('https://images.unsplash.com/photo-1612107463480-ed64144265b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
}
h2 {
	font-family: nth($font-family, 1);
	display: flex-start;
	justify-content: left;
	font-weight: bolder;
	font-size: 3em;
	color: nth($color, 1);
}
h3 {
	display: flex;
	justify-content: center;
	color: nth($color, 1);
	border: 1px groove #897168;
	text-align: center;
	background-color: $background-color;
}
p {
	font-family: nth($font-family, 2);
	color: nth($color, 1);
	text-align: center;
	margin-top: 4% 4%;
	padding: 2%;
}