@import"list";

.carousel {
	display: flex;
	justify-content: center;
	width: 60%;
	margin: auto;
	img {
		opacity: .5;
	}
	p {
		font-size: 1.5rem;
		font-weight: bolder;
		color: nth($color, 3);
	}
	h5 {
		color: nth($color, 2);
		font-weight: bolder;
		font-size: 3.5rem;
	}
}