@import "list";
@import "variable";

.nav {
	width: 100%;
	display: inline-block;
	justify-content: center;
	max-width: 100%;
	margin: 5% 7%;


    .navbar {
	width: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-items: center;
	justify-content: space-between;
	padding: .5%;

        .navbar-b {
            border: #413632 2px solid;

            .navbar-toggler {
                background-color: $background-color_1;
            }

            .collapse {
                
                .navbar {
                    display: flex;
                    justify-content: flex-end;
                }
            
                .nav-item {
                    color: nth($color, 1);
                    background-color: $background-color_1;
                }
            
                    .nav-link {
                     border: #897168 2px solid;
                    font-size: 1.5rem;
        
                }
            }
        }
    }      
}




