@import"list";
@import"variable";
@import"reset";



.nav {
	grid-area: nav;
	width: 100%;
	position: relative;
	display: inline-block;
	justify-content: center;
	max-width: 100%;
	margin: 5% 7%;
	
	.navbar {
		width: 100%;
		margin: auto;
		display: flex;
		align-items: center;
		justify-items: center;
		justify-content: space-between;
		padding: .5%;
	
		.navbar-b {
			border: #413632 2px solid;
			
			.logo {
				width: 90%;
				padding: 0;
				margin: auto;
				display: flex;
				justify-content: center;
			}
			.navbar-toggler{
				background-color: $background-color;
			}
		}

		.collapse{
			navbar {
				display: flex;
				justify-content: flex-end;
			}

			.nav-item {
				color: nth($color, 1);
				background-color: $background-color;
			
				.nav-link {
					border: #897168 2px solid;
					font-size: 1.5rem;
				}
			}	
		}
	}
}
