@import"list";
@import"variable";
@import"reset";




.form-floating {
	margin: 2.5% 20%;
	height: 80%;
	width: 60%;
	align-items: center;
	background-color: $background-color;
	color: nth($color, 1);
	border: #897168 1px solid;
}


.contact {
	margin: 2.5% 40% 2% 40%;
}

.admin-text {
	border: 2px groove #897168;
	background-color: $background-color;
	margin: 15px auto;
	width: 75%;
	padding: 2%;
	font-size: 1.5rem;
	text-align: left;
}
.at-p {
	border: 2px groove #897168;
	background-color: $background-color;
	margin: 15px auto 15px;
	width: 75%;
	font-size: 2rem;
	font-family: nth($font-family, 3);
	font-weight: bold;
}
.title {
	display: flex;
	justify-content: center;
	
	.title-fluid {
		width: 50%;
		height: auto;
		display: flex;
		justify-content: center;
		align-content: center;
		margin-bottom: 5%;
	}
}

