.admin-text {
	border: 2px groove #897168;
	background-color: $background-color_1;
	margin: 15px auto;
	width: 75%;
	padding: 2%;
	font-size: 1.5rem;
	text-align: left;
}
.at-p {
	border: 2px groove #897168;
	background-color: $background-color_1;
	margin: 15px auto 15px;
	width: 75%;
	font-size: 2rem;
	font-family: $font-family_3;
	font-weight: bold;
}
.title {
	display: flex;
	justify-content: center;
}
.title-fluid {
	width: 50%;
	height: auto;
	display: flex;
	justify-content: center;
	align-content: center;
	margin-bottom: 5%;
}