
$background-color_1: #faf2ee;

$border: ##897168 4px solid;

$box-shadow: #66615f 25px 45px 5px;

$border-radius: 5%;

$background-color: #e6d4f1;

$background-image: url("https://images.unsplash.com/photo-1612107463480-ed64144265b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80%27");